body,
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

.drama {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262626;
  height: 100%;
  width: 100%;
}

.drama-content {
  opacity: 0;
  transition: opacity 3s;
}

.drama-content.fade-in {
  opacity: 1;
}

.drama-header,
.drama-paragraph {
  color: #fff;
}

.text-center {
  text-align: center;
}
